<div class="mist-layer" aria-hidden="true">
    <div class="fog">
        <img class="mist-image" src="/fog1.png" alt="" style="--i: 1;" />
        <img class="mist-image" src="/fog2.png" alt="" style="--i: 2;" />
        <img class="mist-image" src="/fog3.png" alt="" style="--i: 3;" />
        <img class="mist-image" src="/fog4.png" alt="" style="--i: 4;" />
        <img class="mist-image" src="/fog5.png" alt="" style="--i: 5;" />
        <img class="mist-image" src="/fog1.png" alt="" style="--i: 10;" />
        <img class="mist-image" src="/fog2.png" alt="" style="--i: 9;" />
        <img class="mist-image" src="/fog3.png" alt="" style="--i: 8;" />
        <img class="mist-image" src="/fog4.png" alt="" style="--i: 7;" />
        <img class="mist-image" src="/fog5.png" alt="" style="--i: 6;" />
    </div>
</div>
