@page "/test"

<div>
    <EditForm Model="@foo" OnValidSubmit="HandleValidSubmit">
        <InputText @bind-Value="foo.Name" />

    </EditForm>
</div>


@code {
    private Foo foo = new Foo();

    private void HandleValidSubmit()
    {
        // Logic to handle room creation
        Console.WriteLine($"Room created: {foo.Name}");
    }

    public class Foo
    {
        public string Name { get; set; } = "test";
    }
}
